<div class="container-fluid border border-dark mt-5">
    <h4 class="title m-0 pb-3 pt-3 border-bottom border-dark text-center rounded">{{day}}</h4>
    <div class="body">
        <div class="border border-secondary rounded">
            <p class="add-text text-center bg-success">Add</p>
        </div>
        <div class="border border-secondary rounded">
            <p class="add-text text-center bg-success">Add</p>
        </div>
        <div class="border border-secondary rounded">
            <p class="add-text text-center bg-success">Add</p>
        </div>
    </div>
</div>
