.container-fluid {
    height: 100vh;
}

.search-bar {
    width: 100%;
}

.header-grid{
    margin-top: 2%;
    input {
        width: 80%;
        height: 50px;
        border: solid black 1px;
        border-radius: 25px;
    }
}

.calendar-grid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 22px;
    height: 100%;
}