.container-fluid {
    height: 100vh;
}

.header-grid{
    margin-top: 10%;
    input {
        width: 80%;
    }
}

.calendar-grid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 22px;
    height: 80%;
}