<div class="container-fluid">
  <div class="header-grid text-center">
    <h1 class="title">Meals</h1>
    <input class="search-bar pl-3" type="text" [(ngModel)]="searchBar" (keydown.enter)='enterMeal()'>
  </div>
  <div *ngIf='!openDayView' class="calendar-grid mt-4">
    <div *ngFor="let mealObject of allMeals">
      <app-calendar-day-component class="text-center" (openDayView)='openDay($event)' [meal]="mealObject"></app-calendar-day-component>
    </div>
  </div>
  <div *ngIf='openDayView'>
    <app-individual-day-view (closeDayView)='openDay($event)' (mealsSelected)="receiveMeals($meals)"></app-individual-day-view>
  </div>
</div>
