.container-fluid {
    height: 100vh;
}

.header-grid{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .title {
        grid-column: 2;
    }
    .buttons {
        grid-column: 3;
        font-size: 30px;
    }
}

.calendar-grid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 22px;
    height: 80%;
}